In [3]:
import pymysql
import simplejson as json
import datetime

In [8]:
import sys
import pymysql

def mysqlDbConnection(u, pw, h, p, d):
    try:
        conn = pymysql.connect(user = u, password = pw, host = h, port = p, database = d, charset='utf8')
        print(f"DB Connection Success: {h}")
    except pymysql.Error as e:
        print(f"Error connecting to MySQL Platform : {e}")
        sys.exit(1)
    return conn


def mysqlDbClose(_dbConn):
    try:
        _dbConn.close()
        print("DB Close Success")
    except pymysql.Error as e:
        print("Error closing from MySQL Platform")
        sys.exit(1)

In [9]:
import pymysql

# dbConn = pymysql.connect(host='localhost', user='rubi', password='mysql', db='shop100', charset='utf8')
dbConn = mysqlDbConnection('rubi',  'mysql', 'localhost', 3306, 'shop100')
cursor = dbConn.cursor()

# 테이블 생성(데이터 타입 : 공식 레퍼런스 참조 또는 검색 참조)
cursor.execute("CREATE TABLE IF NOT EXISTS users(id bigint(20) NOT NULL, \
                                            username varchar(20) NOT NULL, \
                                            email varchar(30),  \
                                            phone varchar(30), \
                                            website varchar(30), \
                                            regdate varchar(20) NOT NULL, PRIMARY KEY(id))" \
                                            ) 
dbConn.commit()
cursor.close()
mysqlDbClose(dbConn)

DB Connection Success: localhost
DB Close Success

In [ ]:
#pyMysql 버전확인
print('pymysql.version : ',pymysql.__version__)

#데이터베이스 선택
conn.select_db('DB명')

In [10]:
#날짜 생성
now = datetime.datetime.now()
print('now',now)
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print('nowDatetime',nowDatetime)

now 2023-08-30 15:44:26.266612
nowDatetime 2023-08-30 15:44:26

## 데이터 삽입(개별)

In [ ]:
dbConn = mysqlDbConnection('rubi',  'mysql', 'localhost', 3306, 'shop100')
conn = dbConn.cursor()

try:
    with conn.cursor() as c:
        #데이터 삽입(개별)
        c.execute("INSERT INTO users VALUES (1 ,'kim','kim@naver.com', '010-0000-0000', 'kim.com', %s)", (nowDatetime,))
        c.execute("INSERT INTO users(id, username, email, phone, website, regdate) VALUES (%s, %s, %s, %s, %s, %s)", (2, 'park', 'park@naver.com', '010-1111-1111', 'park.com', nowDatetime))

        #데이터 삽입(Many)(튜플, 리스트 가능)
        userList = (
            (3 ,'lee','lee@naver.com', '010-2222-2222', 'lee.com', nowDatetime),
            (4 ,'cho','cho@naver.com', '010-3333-3333', 'cho.com', nowDatetime),
            (5 ,'noh','noh@naver.com', '010-4444-4444', 'noh.com', nowDatetime)
        )
        c.executemany("INSERT INTO users(id, username, email, phone, website, regdate) VALUES (%s, %s, %s, %s, %s, %s)", userList)

    conn.commit()
finally:
    conn.close()

## JSON to MySQL 삽입1

In [ ]:
dbConn = mysqlDbConnection('rubi',  'mysql', 'localhost', 3306, 'shop100')
conn = dbConn.cursor()

try:
    with conn.cursor() as c:
        with open('./users.json','r') as infile:
            r = json.load(infile)
            userData = []
            for user in r:
                t = (user['id'], user['username'], user['email'], user['phone'], user['website'], nowDatetime)
                userData.append(t)
            c.executemany("INSERT INTO users(id, username, email, phone, website, regdate) VALUES (%s, %s, %s, %s, %s, %s)", userData)
            #c.executemany("INSERT INTO users(id, username, email, phone, website, regdate) VALUES (%s, %s, %s, %s, %s, %s)", tuple(userData))
    conn.commit()
finally:
    conn.close()

## JSON to MySQL 삽입2

In [14]:
dbConn = mysqlDbConnection('rubi',  'mysql', 'localhost', 3306, 'shop100')
cursor = dbConn.cursor()

try:
    with open('./users.json','r') as infile:
        r = json.load(infile)
        for user in r:
            cursor.execute("INSERT INTO users(id, username, email, phone, website, regdate) VALUES (%s, %s, %s, %s, %s, %s)", (user['id'], user['username'], user['email'], user['phone'], user['website'], nowDatetime))
    #테이블 Row 삭제
#     print("users db deleted : ", cursor.execute("delete from users"), "rows")
    dbConn.commit()
finally:
    cursor.close()
    mysqlDbClose(dbConn)

DB Connection Success: localhost
DB Close Success