## pymysql 파이썬 라이브러리를 이용하여 mysql DB 연결 및 종료 코드를 작성

In [13]:
import sys
import pymysql


 
def mysqlDbConnection(u, pw, h, p, d):
    try:
        conn = pymysql.connect(user = u, password = pw, host = h, port = p, database = d)
        print(f"DB Connection Success: {h}")
    except pymysql.Error as e:
        print(f"Error connecting to MySQL Platform : {e}")
        sys.exit(1)
    return conn


def mysqlDbClose(_dbConn):
    try:
        _dbConn.close()
        print("DB Close Success")
    except pymysql.Error as e:
        print("Error closing from MySQL Platform")
        sys.exit(1)

## mysql 스키마 및 테이블을 생성

In [21]:
import pymysql

dbConn = pymysql.connect(host='localhost', user='rubi', password='mysql', db='shop100', charset='utf8')
# dbConn = mysqlDbConnection('localhost', 'rubi', 'mysql', 'shop100')
cursor = dbConn.cursor()

# 테이블 생성(데이터 타입 : 공식 레퍼런스 참조 또는 검색 참조)
cursor.execute("CREATE TABLE IF NOT EXISTS example (`ranking` bigint(20) NOT NULL, "
               "`item` varchar(50) NOT NULL, PRIMARY KEY (`ranking`))"
)

dbConn.commit()
cursor.close()
mysqlDbClose(dbConn)

DB Close Success

## openpyxl 파이썬 라이브러리를 이용하여 파일 데이터를 추출하고, mysql DB에 저장하는 코드를 작성

In [24]:
import openpyxl
    
dbConn = mysqlDbConnection('rubi', 'mysql', 'localhost', 3306, 'shop100')
cursor = dbConn.cursor()

file = openpyxl.load_workbook('./naver_shopping_result.xlsx')

sheet = file.active
 
for row in sheet.iter_rows():
    values = tuple(cell.value for cell in row)
    query = "INSERT INTO example (ranking, item) VALUES (%s, %s)"
    cursor.execute(query, values)

file.close()

dbConn.commit()
cursor.close()
mysqlDbClose(dbConn)

DB Connection Success: localhost
DB Close Success